# Lab | Data Aggregation and Filtering

In this challenge, we will continue to work with customer data from an insurance company. We will use the dataset called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by first performing data cleaning, formatting, and structuring.

In [45]:
import numpy as np
import pandas as pd

In [46]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv")
df.head()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [47]:
df = df.drop(columns='Unnamed: 0')

In [48]:
from lower_name_columns import lower_name_columns
lower_name_columns(df)

In [49]:
df.columns

Index(['customer', 'state', 'customer lifetime value', 'response', 'coverage',
       'education', 'effective to date', 'employmentstatus', 'gender',
       'income', 'location code', 'marital status', 'monthly premium auto',
       'months since last claim', 'months since policy inception',
       'number of open complaints', 'number of policies', 'policy type',
       'policy', 'renew offer type', 'sales channel', 'total claim amount',
       'vehicle class', 'vehicle size', 'vehicle type'],
      dtype='object')

In [50]:
from rename_columns import rename_columns
rename_columns(df, {'customer lifetime value' : 'customer_lifetime_value',
                                    'effective to date':'effective_to_date',
                                    'employmentstatus':'employment_status',
                                    'location code':'location_code', 'marital status':'marital_status',
                                    'monthly premium auto':'monthly_premium_auto',
                                    'months since last claim':'months_since_last_claim',
                                    'months since policy inception':'months_since_policy_inception',
                                    'number of open complaints':'number_of_open_complaints',
                                    'number of policies':'number_of_policies', 'policy type':'policy_type',
                                    'renew offer type':'renew_offer_type', 'sales channel':'sales_channel',
                                    'total claim amount':'total_claim_amount','vehicle class':'vehicle_class',
                                    'vehicle size':'vehicle_size', 'vehicle type':'vehicle_type'})
df.columns

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employment_status', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size', 'vehicle_type'],
      dtype='object')

In [51]:
from unique_values_columns import unique_values_columns
unique_values_columns(df)

['DK49336' 'KX64629' 'LZ68649' ... 'KX53892' 'TL39050' 'WA60547']
['Arizona' 'California' 'Washington' 'Oregon' nan 'Nevada']
[ 4809.21696   2228.525238 14947.9173   ...  5259.444853 23893.3041
 11971.97765 ]
['No' 'Yes' nan]
['Basic' 'Extended' 'Premium']
['College' 'Bachelor' 'High School or Below' 'Doctor' 'Master']
['2/18/11' '1/18/11' '2/10/11' '1/11/11' '1/17/11' '2/14/11' '2/24/11'
 '1/19/11' '1/4/11' '1/2/11' '2/7/11' '1/31/11' '1/26/11' '2/28/11'
 '1/16/11' '2/26/11' '2/23/11' '1/15/11' '2/2/11' '2/15/11' '1/24/11'
 '2/21/11' '2/22/11' '1/7/11' '1/28/11' '2/8/11' '2/12/11' '2/20/11'
 '1/5/11' '2/19/11' '1/3/11' '2/3/11' '1/22/11' '1/23/11' '2/5/11'
 '2/13/11' '1/25/11' '2/16/11' '2/1/11' '1/27/11' '1/12/11' '1/20/11'
 '2/6/11' '2/11/11' '1/21/11' '1/29/11' '1/9/11' '2/9/11' '2/27/11'
 '1/1/11' '2/17/11' '2/25/11' '1/13/11' '1/6/11' '2/4/11' '1/14/11'
 '1/10/11' '1/8/11' '1/30/11']
['Employed' 'Unemployed' 'Medical Leave' 'Disabled' 'Retired']
['M' 'F']
[48029     0 22139 ... 61146 39837 64195]
['Suburban' 'Urban' 'Rural']
['Married' 'Single' 'Divorced']
[ 61  64 100  97 117  63 154  85 127  62  99  69 116 114  66  73  94 104
 189  74 121 110 111  72 115 159 101  65  82  71 126  68 199  96  67 125
 249 105  92  78  77  79 223 242  70 102 109 107 119 194 113 106 247  80
  86  81  83 122 253 196 132 139  84 130  93 103 112 222 118  88 182 283
  90 128  89 235 190  76  87 133 153 129  98 148 123  91 211 131 108 187
 214 181 173 252  95 124 137 145 188 143 198 138 245 195 186 170 136 161
 157 141 205 271 192 142 140 134 240 185 244 210 184 202 296 213 273 219
 135 169 155 225 266 215 197 256 212 158 180 166 168 183 162 191 179 150
 146 276 165 239 237 193 229 274 207 295 208 172 217 206 201 171 152 156
 174 238 167 151 144 163 287 209 290 220 228 232 178 177 275 176 281 149
 298 255 216 285 226 160 147 254 164 175 297 234 284 204 218 261 231 248
 286 230 268 203]
[ 7.  3. 34. 10. nan  2.  8. 35. 33. 19. 13.  5. 24. 25.  6. 20. 26. 14.
  9. 29. 11.  1. 18. 16. 30. 12.  4. 22. 31. 21. 28. 17. 15. 32. 23. 27.
  0.]
[52 26 31  3 73 99 45 24  8 29 32 25 28 87 10 74  1 38 58 37  7 80 95 78
 63 27 97 39 11 59 46 62 13 54 51 22 82 91 44 43 76 48 84  6 92 12 61  4
 18 66 70 16 75 34 35 64  9 89  0 60 71 23 55 93  2 67 81 40 57 86 19 72
 69 33 47 42 17 49 21 83 94 30 15 50 53 77 41 90  5 79 56 98 20 88 65 14
 85 96 36 68]
[ 0. nan  3.  1.  2.  4.  5.]
[9 1 2 7 4 3 6 8 5]
['Corporate Auto' 'Personal Auto' 'Special Auto']
['Corporate L3' 'Personal L3' 'Personal L2' 'Corporate L2' 'Personal L1'
 'Special L1' 'Corporate L1' 'Special L3' 'Special L2']
['Offer3' 'Offer4' 'Offer2' 'Offer1']
['Agent' 'Call Center' 'Branch' 'Web']
[292.8      744.924331 480.       ... 273.018929 381.306996 618.288849]
['Four-Door Car' 'SUV' 'Two-Door Car' 'Sports Car' 'Luxury Car'
 'Luxury SUV' nan]
['Medsize' 'Small' 'Large' nan]
[nan 'A']

In [52]:
df.isna().sum()

customer                            0
state                             631
customer_lifetime_value             0
response                          631
coverage                            0
education                           0
effective_to_date                   0
employment_status                   0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim           633
months_since_policy_inception       0
number_of_open_complaints         633
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     622
vehicle_size                      622
vehicle_type                     5482
dtype: int64

In [53]:
#display(df[df['state'].isna() == True])
print(df['state'].value_counts())
print('This is the % of customers from California:', round(3552*100/10279, 2))
print('This is the % of customers from Oregon:', round(2909*100/10279, 2))
print('This is the % of customers from Arizona:', round(1937*100/10279, 2))
print('This is the % of customers from Nevada:', round(993*100/10279, 2))
print('This is the % of customers from Washington:', round(888*100/10279, 2))

state
California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Name: count, dtype: int64
This is the % of customers from California: 34.56
This is the % of customers from Oregon: 28.3
This is the % of customers from Arizona: 18.84
This is the % of customers from Nevada: 9.66
This is the % of customers from Washington: 8.64

In [54]:
nan_values_state = df[(df['state'].isna() == True)].index.tolist()

df.iloc[nan_values_state[:218], list(df).index("state")] = "California"
df.iloc[nan_values_state[218:396], list(df).index("state")] = "Oregon"
df.iloc[nan_values_state[396:515], list(df).index("state")] = "Arizona"
df.iloc[nan_values_state[515:575], list(df).index("state")] = "Nevada"
df.iloc[nan_values_state[575:], list(df).index("state")] = "Washington"

df['state'].isna().sum()

0

In [55]:
#display(df[df['response'].isna() == True])
nan_values_response = df[(df['response'].isna() == True)].index.tolist()
df.iloc[nan_values_response[:], list(df).index("response")] = "Undetermined"
df['response'].isna().sum()

0

In [56]:
#display(df[df['months_since_last_claim'].isna() == True])
df[pd.isnull(df['months_since_last_claim']) & (df['total_claim_amount'])]

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
23,NQ71171,California,5107.071054,No,Basic,Bachelor,2/2/11,Employed,M,70174,...,NaN,7,Personal Auto,Personal L2,Offer1,Agent,128.900320,Four-Door Car,Medsize,NaN
51,FT56968,Arizona,2590.096027,No,Basic,High School or Below,1/3/11,Employed,M,22398,...,NaN,1,Personal Auto,Personal L1,Offer1,Agent,321.600000,Four-Door Car,Large,A
59,EP83939,Arizona,5575.751228,No,Basic,High School or Below,1/26/11,Employed,M,91416,...,NaN,5,Personal Auto,Personal L3,Offer2,Call Center,109.904496,Four-Door Car,Medsize,NaN
67,KR35099,Washington,7507.455372,Yes,Basic,College,2/6/11,Employed,M,60920,...,NaN,2,Personal Auto,Personal L3,Offer2,Agent,231.201886,Two-Door Car,Medsize,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10801,AP56340,Washington,5384.671725,No,Basic,Bachelor,2/26/11,Disabled,M,13103,...,NaN,7,Personal Auto,Personal L2,Offer1,Agent,458.003651,Four-Door Car,Medsize,A
10816,AW71157,California,5531.723723,No,Basic,College,1/16/11,Employed,M,50097,...,NaN,5,Personal Auto,Personal L1,Offer3,Web,17.484679,Four-Door Car,Medsize,A
10833,OQ99704,Washington,3981.775889,No,Basic,Bachelor,2/11/11,Employed,F,52801,...,NaN,1,Personal Auto,Personal L3,Offer2,Branch,475.200880,SUV,Small,A
10834,FU99476,Washington,6770.306834,No,Extended,High School or Below,2/22/11,Employed,M,74422,...,NaN,3,Personal Auto,Personal L1,Offer1,Call Center,95.338505,Four-Door Car,Medsize,A
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A

â€¢ Checked if there was 0 total claim amount to determined if the missing values was due to the fact that there were no claims in the past, which is not the case. It seems that its undertemined the date of last claim, as there is total claim amounts on this rows. For this reason, I'll set the NaN values to Unknown

In [57]:
nan_values_months_since_last_claim = df[(df['months_since_last_claim'].isna() == True)].index.tolist()
df.iloc[nan_values_months_since_last_claim[:], list(df).index("months_since_last_claim")] = "Unknown"
df['months_since_last_claim'].isna().sum()

0

In [58]:
#display(df[df['number_of_open_complaints'].isna() == True])
check_relation = df[pd.isnull(df['number_of_open_complaints'])]
for col in check_relation:
    print(check_relation[col].value_counts())

customer
ID89933    4
YV40022    3
GS76685    3
NW23827    3
VE98553    2
          ..
XD32841    1
HH15953    1
FS56709    1
MG66142    1
FE99816    1
Name: count, Length: 575, dtype: int64
state
California    222
Oregon        163
Arizona       136
Nevada         58
Washington     54
Name: count, dtype: int64
customer_lifetime_value
7255.577594     4
5181.620895     3
7507.455372     3
9807.829589     3
10408.968650    3
               ..
14917.334950    1
5156.072651     1
4579.605586     1
12045.672860    1
15563.369440    1
Name: count, Length: 563, dtype: int64
response
No              513
Yes              78
Undetermined     42
Name: count, dtype: int64
coverage
Basic       394
Extended    176
Premium      63
Name: count, dtype: int64
education
College                 193
Bachelor                185
High School or Below    183
Master                   53
Doctor                   19
Name: count, dtype: int64
effective_to_date
2/18/11    20
2/3/11     19
2/25/11    19
1/9/11     18
1/21/11    17
1/31/11    16
1/26/11    15
1/19/11    15
1/10/11    14
2/15/11    14
1/18/11    14
2/11/11    13
2/23/11    13
2/7/11     13
1/27/11    13
1/17/11    12
2/28/11    12
2/4/11     12
2/6/11     12
1/3/11     12
2/14/11    12
1/2/11     11
2/27/11    11
1/30/11    11
2/13/11    11
1/28/11    11
2/22/11    11
2/24/11    11
2/19/11    10
2/21/11    10
1/16/11    10
1/8/11     10
1/24/11    10
2/9/11     10
1/11/11    10
1/7/11     10
1/23/11    10
2/1/11     10
1/5/11      9
2/10/11     9
1/20/11     9
2/12/11     9
1/13/11     9
2/26/11     9
1/29/11     8
1/1/11      8
1/12/11     8
1/22/11     8
2/2/11      8
2/16/11     7
1/14/11     7
2/17/11     7
2/20/11     7
2/5/11      6
1/15/11     6
2/8/11      5
1/25/11     5
1/4/11      4
1/6/11      3
Name: count, dtype: int64
employment_status
Employed         382
Unemployed       176
Disabled          32
Medical Leave     30
Retired           13
Name: count, dtype: int64
gender
F    317
M    316
Name: count, dtype: int64
income
0        176
39786      4
20228      3
60920      3
97131      3
        ...
55805      1
24378      1
21353      1
44084      1
74422      1
Name: count, Length: 409, dtype: int64
location_code
Suburban    408
Rural       129
Urban        96
Name: count, dtype: int64
marital_status
Married     362
Single      187
Divorced     84
Name: count, dtype: int64
monthly_premium_auto
65     29
63     26
73     23
72     22
64     22
       ..
127     1
139     1
153     1
244     1
198     1
Name: count, Length: 102, dtype: int64
months_since_last_claim
Unknown    633
Name: count, dtype: int64
months_since_policy_inception
64    15
55    12
25    12
50    12
51    11
      ..
60     2
53     2
69     2
98     2
33     1
Name: count, Length: 99, dtype: int64
Series([], Name: count, dtype: int64)
number_of_policies
1    206
2    157
3     77
7     44
9     38
4     33
5     32
8     27
6     19
Name: count, dtype: int64
policy_type
Personal Auto     477
Corporate Auto    137
Special Auto       19
Name: count, dtype: int64
policy
Personal L3     256
Personal L2     130
Personal L1      91
Corporate L3     87
Corporate L2     31
Corporate L1     19
Special L2       10
Special L3        5
Special L1        4
Name: count, dtype: int64
renew_offer_type
Offer1    257
Offer2    219
Offer3    102
Offer4     55
Name: count, dtype: int64
sales_channel
Agent          234
Branch         151
Call Center    143
Web            105
Name: count, dtype: int64
total_claim_amount
350.400000     11
307.200000     10
312.000000      8
331.200000      8
292.800000      7
               ..
425.527151      1
902.400000      1
576.000000      1
243.598068      1
1214.400000     1
Name: count, Length: 442, dtype: int64
vehicle_class
Four-Door Car    312
SUV              110
Two-Door Car     105
Sports Car        40
Luxury SUV        12
Luxury Car        12
Name: count, dtype: int64
vehicle_size
Medsize    414
Small      104
Large       73
Name: count, dtype: int64
vehicle_type
A    318
Name: count, dtype: int64

â€¢ As per this results, it seems we have duplicates, so I'm going to check the rows

In [59]:
df.drop_duplicates(subset='customer', keep='first', inplace = True)
df['customer'].duplicated().unique()

array([False])

â€¢ Going to check the rest of NaN value to drop/replace

In [60]:
df.isna().sum()

customer                            0
state                               0
customer_lifetime_value             0
response                            0
coverage                            0
education                           0
effective_to_date                   0
employment_status                   0
gender                              0
income                              0
location_code                       0
marital_status                      0
monthly_premium_auto                0
months_since_last_claim             0
months_since_policy_inception       0
number_of_open_complaints         287
number_of_policies                  0
policy_type                         0
policy                              0
renew_offer_type                    0
sales_channel                       0
total_claim_amount                  0
vehicle_class                     267
vehicle_size                      267
vehicle_type                     4608
dtype: int64

In [72]:
df['number_of_open_complaints'] = df['number_of_open_complaints'].fillna('U')
df['vehicle_size'] = df['vehicle_size'].fillna('U')
df['vehicle_class'] = df['vehicle_class'].fillna('U')
df['vehicle_type'] = df['vehicle_type'].fillna('U')
#cant fill with knowledge or background, however the rows contain imp info
#so I will fill these rows with U = Unknown

In [74]:
df.isna().sum()

customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employment_status                0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

1. Create a new DataFrame that only includes customers who have a total_claim_amount greater than $1,000 and have a response of "Yes" to the last marketing campaign.

In [75]:
df_claim_1000_response_yes = df[(df['total_claim_amount'] > 1000) & (df['response'] == 'Yes')]
display(df_claim_1000_response_yes)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
189,OK31456,California,11009.130490,Yes,Premium,Bachelor,2011-01-24,Employed,F,51643,...,1,Corporate Auto,Corporate L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,U,1
236,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,2011-01-24,Employed,F,51643,...,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A,1
419,GW43195,Oregon,25807.063000,Yes,Extended,College,2011-02-13,Employed,F,71210,...,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A,2
442,IP94270,Arizona,13736.132500,Yes,Premium,Master,2011-02-13,Disabled,F,16181,...,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A,2
587,FJ28407,California,5619.689084,Yes,Premium,High School or Below,2011-01-26,Unemployed,M,0,...,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A,1
654,VV47792,California,25807.063000,Yes,Extended,College,2011-02-13,Employed,F,71210,...,2,Personal Auto,Personal L3,Offer1,Branch,1027.200000,Luxury Car,Small,U,2
680,QL45827,Washington,25807.063000,Yes,Extended,College,2011-02-13,Employed,F,71210,...,2,Personal Auto,Personal L1,Offer1,Branch,1027.200000,Luxury Car,Small,U,2
815,MA15172,California,10179.717040,Yes,Premium,Bachelor,2011-01-05,Retired,F,14290,...,1,Personal Auto,Personal L2,Offer1,Agent,1300.800000,Luxury SUV,Medsize,U,1
1276,WA45944,Arizona,25807.063000,Yes,Extended,College,2011-02-13,Employed,F,71210,...,2,Corporate Auto,Corporate L3,Offer1,Branch,1027.200000,Luxury Car,Small,U,2
1422,YK65946,Oregon,8427.172486,Yes,Extended,Bachelor,2011-02-10,Employed,F,46503,...,1,Personal Auto,Personal L3,Offer1,Agent,1032.000000,Luxury SUV,Medsize,U,2
1527,TU53781,Oregon,8427.172486,Yes,Extended,Bachelor,2011-02-10,Employed,F,46503,...,1,Corporate Auto,Corporate L3,Offer1,Agent,1032.000000,Luxury SUV,Medsize,A,2
1570,VL84149,Oregon,25807.063000,Yes,Extended,College,2011-02-13,Employed,F,71210,...,2,Corporate Auto,Corporate L2,Offer1,Branch,1027.200000,Luxury Car,Small,U,2
1629,UH35128,Oregon,25807.063000,Yes,Extended,College,2011-02-13,Employed,F,71210,...,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,U,2
1638,ZV80216,Oregon,5619.689084,Yes,Premium,High School or Below,2011-01-26,Unemployed,M,0,...,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,U,1
1753,FG29932,California,7840.165778,Yes,Extended,College,2011-01-14,Employed,M,58414,...,1,Special Auto,Special L2,Offer2,Agent,1008.000000,Luxury SUV,Small,U,1
1809,QO62792,Oregon,7840.165778,Yes,Extended,College,2011-01-14,Employed,M,58414,...,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,Luxury SUV,Small,A,1
1856,ZA45956,California,13736.132500,Yes,Premium,Master,2011-02-13,Disabled,F,16181,...,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,U,2
2027,TA66375,Oregon,11009.130490,Yes,Premium,Bachelor,2011-01-24,Employed,F,51643,...,1,Corporate Auto,Corporate L2,Offer2,Agent,1358.400000,Luxury Car,Medsize,A,1
2125,JC11405,Oregon,10963.957230,Yes,Premium,High School or Below,2011-02-08,Employed,M,55687,...,1,Personal Auto,Personal L3,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A,2
2340,YE24562,California,3508.569533,Yes,Extended,College,2011-01-05,Medical Leave,M,20978,...,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,U,1
2364,TC88986,Oregon,5619.689084,Yes,Premium,High School or Below,2011-01-26,Unemployed,M,0,...,1,Special Auto,Special L1,Offer2,Web,1027.000029,SUV,Medsize,U,1
2865,FH77504,California,11009.130490,Yes,Premium,Bachelor,2011-01-24,Employed,F,51643,...,1,Personal Auto,Personal L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A,1
3346,UY18770,California,10179.717040,Yes,Premium,Bachelor,2011-01-05,Retired,F,14290,...,1,Personal Auto,Personal L3,Offer1,Agent,1300.800000,Luxury SUV,Medsize,U,1
3934,ZW93288,California,19160.989940,Yes,Extended,Master,2011-02-20,Employed,F,22705,...,7,Personal Auto,Personal L1,Offer2,Agent,1294.700423,Luxury SUV,Medsize,U,2
3958,KC26486,Arizona,8427.172486,Yes,Extended,Bachelor,2011-02-10,Employed,F,46503,...,1,Personal Auto,Personal L2,Offer1,Agent,1032.000000,Luxury SUV,Medsize,A,2
4284,GA72966,Oregon,8427.172486,Yes,Extended,Bachelor,2011-02-10,Employed,F,46503,...,1,Personal Auto,Personal L3,Offer1,Agent,1032.000000,Luxury SUV,Medsize,U,2
4358,CG15505,California,19160.989940,Yes,Extended,Master,2011-02-20,Employed,F,22705,...,7,Personal Auto,Personal L3,Offer2,Agent,1294.700423,Luxury SUV,Medsize,U,2
4440,QW47320,California,10179.717040,Yes,Premium,Bachelor,2011-01-05,Retired,F,14290,...,1,Personal Auto,Personal L1,Offer1,Agent,1300.800000,Luxury SUV,Medsize,U,1
4475,WP58340,Arizona,10963.957230,Yes,Premium,High School or Below,2011-02-08,Employed,M,55687,...,1,Personal Auto,Personal L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A,2
4521,LT72149,Nevada,5619.689084,Yes,Premium,High School or Below,2011-01-26,Unemployed,M,0,...,1,Personal Auto,Personal L2,Offer2,Web,1027.000029,SUV,Medsize,A,1
4566,TC99043,California,13736.132500,Yes,Premium,Master,2011-02-13,Disabled,F,16181,...,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A,2
5331,UT48216,Nevada,7840.165778,Yes,Extended,College,2011-01-14,Employed,M,58414,...,1,Personal Auto,Personal L1,Offer2,Agent,1008.000000,Luxury SUV,Small,A,1
5489,TQ84956,California,10963.957230,Yes,Premium,High School or Below,2011-02-08,Employed,M,55687,...,1,Corporate Auto,Corporate L3,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A,2
5577,FN44127,Oregon,3508.569533,Yes,Extended,College,2011-01-05,Medical Leave,M,20978,...,1,Personal Auto,Personal L2,Offer2,Branch,1176.278800,U,U,A,1
5896,TY31217,Washington,11009.130490,Yes,Premium,Bachelor,2011-01-24,Employed,F,51643,...,1,Personal Auto,Personal L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A,1
5987,MO21402,Oregon,13736.132500,Yes,Premium,Master,2011-02-13,Disabled,F,16181,...,8,Personal Auto,Personal L3,Offer1,Web,1261.319869,SUV,Medsize,U,2
6342,NZ60700,Washington,10963.957230,Yes,Premium,High School or Below,2011-02-08,Employed,M,55687,...,1,Personal Auto,Personal L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,U,2
6601,RO89785,Oregon,3508.569533,Yes,Extended,College,2011-01-05,Medical Leave,M,20978,...,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,U,1
7255,PN98247,California,7840.165778,Yes,Extended,College,2011-01-14,Employed,M,58414,...,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,Luxury SUV,Small,A,1
7340,JL21509,California,3508.569533,Yes,Extended,College,2011-01-05,Medical Leave,M,20978,...,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,U,1
7480,ZR79373,Arizona,10179.717040,Yes,Premium,Bachelor,2011-01-05,Retired,F,14290,...,1,Personal Auto,Personal L3,Offer1,Agent,1300.800000,Luxury SUV,Medsize,U,1
7989,UU42868,California,5619.689084,Yes,Premium,High School or Below,2011-01-26,Unemployed,M,0,...,1,Corporate Auto,Corporate L2,Offer2,Web,1027.000029,SUV,Medsize,U,1
8367,AJ89108,California,11009.130490,Yes,Premium,Bachelor,2011-01-24,Employed,F,51643,...,1,Personal Auto,Personal L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A,1
8420,MT27589,Oregon,7840.165778,Yes,Extended,College,2011-01-14,Employed,M,58414,...,1,Corporate Auto,Corporate L1,Offer2,Agent,1008.000000,Luxury SUV,Small,U,1
8425,UP29839,Nevada,19160.989940,Yes,Extended,Master,2011-02-20,Employed,F,22705,...,7,Personal Auto,Personal L1,Offer2,Agent,1294.700423,Luxury SUV,Medsize,U,2
8505,DT77901,Oregon,10179.717040,Yes,Premium,Bachelor,2011-01-05,Retired,F,14290,...,1,Personal Auto,Personal L3,Offer1,Agent,1300.800000,Luxury SUV,Medsize,A,1
8510,QE79527,California,8427.172486,Yes,Extended,Bachelor,2011-02-10,Employed,F,46503,...,1,Personal Auto,Personal L1,Offer1,Agent,1032.000000,Luxury SUV,Medsize,U,2
8662,YU86361,Washington,19160.989940,Yes,Extended,Master,2011-02-20,Employed,F,22705,...,7,Personal Auto,Personal L1,Offer2,Agent,1294.700423,Luxury SUV,Medsize,A,2
8802,MC30750,Oregon,13736.132500,Yes,Premium,Master,2011-02-13,Disabled,F,16181,...,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,U,2
8835,XT93203,California,10963.957230,Yes,Premium,High School or Below,2011-02-08,Employed,M,55687,...,1,Personal Auto,Personal L3,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A,2
9326,MS18916,California,3508.569533,Yes,Extended,College,2011-01-05,Medical Leave,M,20978,...,1,Personal Auto,Personal L1,Offer2,Branch,1176.278800,Four-Door Car,Small,U,1
9498,IV54766,Oregon,19160.989940,Yes,Extended,Master,2011-02-20,Employed,F,22705,...,7,Personal Auto,Personal L1,Offer2,Agent,1294.700423,Luxury SUV,Medsize,A,2
9581,GD55093,California,19160.989940,Yes,Extended,Master,2011-02-20,Employed,F,22705,...,7,Personal Auto,Personal L1,Offer2,Agent,1294.700423,Luxury SUV,Medsize,A,2
10373,XZ64172,Oregon,10963.957230,Yes,Premium,High School or Below,2011-02-08,Employed,M,55687,...,1,Corporate Auto,Corporate L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,U,2
10487,IX60941,Oregon,3508.569533,Yes,Extended,College,2011-01-05,Medical Leave,M,20978,...,1,Personal Auto,Personal L3,Offer2,Branch,1176.278800,Four-Door Car,Small,U,1
10708,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,2011-01-26,Unemployed,M,0,...,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A,1

2. Using the original Dataframe, analyze the average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign. Write your conclusions.

In [76]:
new_df = df[df['response'] == 'Yes'].groupby(['policy_type', 'gender', 'response']).agg({'total_claim_amount': 'mean'}).round(2).reset_index()

display(new_df)

      policy_type gender response  total_claim_amount
0  Corporate Auto      F      Yes              431.84
1  Corporate Auto      M      Yes              410.03
2   Personal Auto      F      Yes              453.14
3   Personal Auto      M      Yes              456.08
4    Special Auto      F      Yes              460.36
5    Special Auto      M      Yes              414.80

â€¢ We can see that for Corporate Auto, claimed amounts are similar, slightly bigger when it comes to gender female, in 5.04% compared to the gender male. 
â€¢ However, on Personal Auto, even if the similarity is kept, it's slighty bigger for the gender male than female, in a 0.64%, reducing considerably it's difference coimparing to the previous policy type. 
â€¢ To end, on Special Auto  we have again gender female with a higher total claim amount than the gender male in a 9.90%.
Considering the total claimed amount between gender's, female covers a 51.23% of the total amount. Overall, we see that both gender's claim a similar amount considering all policy types, being female trespassing half of the total amount by only a 1.23%.

3. Analyze the total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers.

In [77]:
customers_by_state = df.groupby('state')['customer'].count().reset_index()
states_over_500_customers = customers_by_state[customers_by_state['customer'] > 500]
states_over_500_customers.head(10)

        state  customer
0     Arizona      1688
1  California      3200
2      Nevada       870
3      Oregon      2600
4  Washington       776

4. Find the maximum, minimum, and median customer lifetime value by education level and gender. Write your conclusions.

In [78]:
df.groupby(['education', 'gender']).agg({'customer_lifetime_value' : ['mean', 'max', 'min']}).round(2).reset_index()

              education gender customer_lifetime_value
                                                  mean       max      min
0              Bachelor      F                 8012.88  73225.96  1904.00
1              Bachelor      M                 7722.07  67907.27  1898.01
2               College      F                 7732.83  61850.19  1898.68
3               College      M                 7971.34  61134.68  1918.12
4                Doctor      F                 7423.63  44856.11  2395.57
5                Doctor      M                 7614.82  32677.34  2267.60
6  High School or Below      F                 8579.00  55277.45  2144.92
7  High School or Below      M                 8010.08  83325.38  1940.98
8                Master      F                 8319.11  51016.07  2417.78
9                Master      M                 8158.08  50568.26  2272.31

â€¢ On bachelors dregee we can see that the mean, max and min is slightly higher for female, while with a college degree male has a slighly higher mean and min, having similar max value. For doctor degree male has a higher mean, while female has a higher max and min, which could signify outlines in the gender male. 
When it comes to High School or Below, femail has a higher mean and min value, but males has a way higher max value, which would mean outlines on the male gender. On master degree we see a more stabilizedata, being female and male nearly equal, having a slighty higher value the female gender for mean, max and mean.

## Bonus

5. The marketing team wants to analyze the number of policies sold by state and month. Present the data in a table where the months are arranged as columns and the states are arranged as rows.

In [79]:
#to get the month of the efective date of the sold policy, I will first change to 
#a date time this column
df['effective_to_date'] = pd.to_datetime(df['effective_to_date'])
df['month'] = pd.DatetimeIndex(df['effective_to_date']).month
display(df)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,U,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,U,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,U,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10903,SU71163,Arizona,2771.663013,No,Basic,College,2011-01-07,Employed,M,59855,...,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A,1
10904,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2011-02-24,Unemployed,M,0,...,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A,2
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,U,2
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2

In [80]:
policies_sold = df.groupby(['month', 'state']).agg({'number_of_policies' : sum}).reset_index()
policies_sold = policies_sold.pivot(index='state', columns='month', values='number_of_policies')
display(policies_sold)

month          1     2
state
Arizona     2702  2441
California  5081  4423
Nevada      1333  1096
Oregon      4127  3629
Washington  1184  1077

6.  Display a new DataFrame that contains the number of policies sold by month, by state, for the top 3 states with the highest number of policies sold.

*Hint:*
- *To accomplish this, you will first need to group the data by state and month, then count the number of policies sold for each group. Afterwards, you will need to sort the data by the count of policies sold in descending order.*
- *Next, you will select the top 3 states with the highest number of policies sold.*
- *Finally, you will create a new DataFrame that contains the number of policies sold by month for each of the top 3 states.*

In [81]:
policies_sold = df.groupby(['month', 'state']).agg({'number_of_policies':sum}).reset_index()
policies_sold = policies_sold.sort_values('number_of_policies', ascending = False)
three_largest = policies_sold.nlargest(3, 'number_of_policies', keep='first')
display(policies_sold)
display(three_largest)

   month       state  number_of_policies
1      1  California                5081
6      2  California                4423
3      1      Oregon                4127
8      2      Oregon                3629
0      1     Arizona                2702
5      2     Arizona                2441
2      1      Nevada                1333
4      1  Washington                1184
7      2      Nevada                1096
9      2  Washington                1077

   month       state  number_of_policies
1      1  California                5081
6      2  California                4423
3      1      Oregon                4127

7. The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

Hint: You can use melt to unpivot the data and create a table that shows the customer response rate (those who responded "Yes") by marketing channel.

External Resources for Data Filtering: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

In [82]:
df3 = df[['response','sales_channel']].copy()
df3 = df3[df3['response'] == 'Yes'].reset_index(drop=True).sort_values('sales_channel')
df3 = df3.groupby('sales_channel')['response'].count().reset_index()
df3['rate'] = (df3['response'] / df3['response'].sum())*100
df3['rate'] = df3['rate'].round(2)
display(df3)

  sales_channel  response   rate
0         Agent       639  50.79
1        Branch       282  22.42
2   Call Center       186  14.79
3           Web       151  12.00